@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

h1 {
    background: #667eea;
    background: linear-gradient(to right, #667eea 0%, #764ba2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.gradient-card {
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}